<!-- <section id="hero"> -->
<section>

  <div class="container index">
    <h1>A better scraping experience.</h1>
    Yup, that's it right there. That big button below that's just beggin' you to press it.<br><br>

    <form action="/" method="post">
      <button type="submit" class="btn btn-primary btn-scrape">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
        <div class="btn-text">SCRAPE</div>
      </button>
    </form>
  </div>

</section>
