<!-- <section id="hero"> -->
<section>

  <div class="container">
    <h1>A better scraping experience.</h1>
    Yup, that's it right there. That big button below that's just beggin' you to press it.<br><br>

    <form action="/" method="post">
      <button type="submit" class="btn btn-primary">SCRAPE</button>
    </form>
  </div>

</section>

<section id="quotes">
  <div class="container">
    <div class="quote">“I love how it's working well before the guest has even walked in the door.”</div>
    <div class="author">— MING TSAI</div>
    <div class="title">
        Chef and Owner<br>
        Blue Ginger, Blue Dragon
    </div>
    <a href="/for-restaurants" class="button">WORK WITH RESERVE</a>
  </div>
</section>
