<div class="index container">

  <h3>That was easy.</h3>
  Like eating pie, but with more data.<br><br>

  <form action="/download" method="get">
    <button type="submit" class="btn btn-primary">Download as CSV</button>
  </form>

</div>
