///
/// GLOBAL SCSS FILE
/// ----------------------------------


// Global Styles
// -----------------------------------
html,
body {
  height: 100%;
  font-family: 'Gotham A', 'Gotham B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  color: #AC9456;
}


// Global Classes
// -----------------------------------
.flex {
  display: flex;
  justify-content: center;
}
.svg-logo {
  height: 1em;
  fill: #fff;
}


// Bootstrap Global Overrides
// -----------------------------------
.container {
  max-width: 1054px;
}
.btn {
  font-weight: 300;
  letter-spacing: 2px;
}
.btn-primary {
  background-color: #AC9456;
  border: none;
  &:hover {
    background-color: lighten(#AC9456, 10%);
  }
}
