
// Index Page SCSS Module
// -----------------------------------

.index {
  height: 100%;

	.index__main {
    height: 100%;

    .index__main__teaser {
      // width: 50%;
      height: 100%;
      img {
        max-height: 100%;
        max-width: 100%;
        float: right;
      }
    }

    .index__main__signup {
      width: 40%;
      align-self: center;
      form {
        width: 85%;
      }
    }

  }

}
